[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
mysqlclient = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
django-cors-headers = "*"
db-sqlite3 = "*"
numpy = "*"
pandas = "*"
tqdm = "*"
gdown = "*"
tensorflow = "*"
deepface = "*"

[dev-packages]

[requires]
python_version = "3.8"
